body{
    background-color: rgb(255, 253, 240);
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1{
    font-size: 40px;
    text-align: center;
    font-family:'Dancing Script', cursive;
}

hr{
    border: solid 2px;
    width: 60%;
}

#acc{
    margin-top: 2%;
    font-size: 30px;
    text-align: center;
    background-color: rgb(201, 192, 192);
    width: 500px;
    margin-left: 35%;
    padding: 1%;
}

.button{
    border-radius: 30px;
    width: 200px;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(49, 49, 49);
    padding: 5px;
    border: none;
    margin-top: 10%;
    color: honeydew;
}