body{
    animation: bgColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}
#img{
    overflow-x: hidden;
    position: relative;
    left: 105%;
}
#form{
    text-align: center;
    margin-top: 15%;
}
@keyframes bgColor{
    0% {background-color: white;}
    50% {background-color: red;}
    100% {background-color: white;}
}