body{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
    background-image: url('../img/abc.jpg');
}

#img{
    overflow-x: hidden;
    position: relative;
    left: 105%;
}
#form{
    background-color: rgba(112, 118, 148, 0.7);
    float: left;
    width: 550px;
    height: 450px;
    padding: 5px;
    text-align: center;
    margin-top: 13%;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    margin-left: 35%;
}

h1{
    letter-spacing: 4px;
}

p{
    margin-top: -20px;
}


.button{
    border-radius: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color:white;
    border: none;
    cursor: pointer;
}