body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
}

#container{
    width: auto;
    margin-top: auto;
    margin-left: auto;
}

#logo{
    text-align: center;
    letter-spacing: 3px;
    font-size: 45px;
    text-decoration: overline;
    font-weight: bold;
}

#menu{
    background-color: rgb(133, 0, 0);
    margin-top: 1%;
    padding: 20px;
    letter-spacing: 2px;
}

#content{
    font-family: 'Dancing Script', cursive;
     text-align: center;
     font-size: 35px;
     padding: 5px;
}

p2{
    font-size: 25px;
}

hr{
    border: solid 1px ;
}

#contentB{
    font-family: 'Dancing Script', cursive;
    float: left;
    padding: 10px;
    width: 400px;
    font-size: 35px;
    background-color: brown;
    color: white;
    min-height: 400px;
    text-align: center;
    margin-top: 3%;
    margin-left: 8%;

}

#contentC{
    font-family: 'Dancing Script', cursive;
    float: left;
    padding: 10px;
    width: 400px;
    font-size: 35px;
    background-color: brown;
    color: white;
    min-height: 400px;
    text-align: center;
    margin-top: 3%;
    margin-left: 8%;

}

#contentD{
    font-family: 'Dancing Script', cursive;
    float: left;
    padding: 10px;
    width: 400px;
    font-size: 35px;
    background-color: brown;
    color: white;
    min-height: 400px;
    text-align: center;
    margin-top: 3%;
    margin-left: 8%;

}
#footer{
    clear: both;
    color: black;
    text-align: center;
    padding: 5%;
    font-size: 20px;

}

hr{
    width: 60%;
}

.button{
    border-radius: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.option{
    float: left;
    min-height: 20px;
    height: 25px;
    font-size: 20px;
    padding: 5px;
    margin-left:6%;
}

.logout{
    margin-left: 16%;
    float: left;
    min-height: 20px;
    height: 25px;
    font-size: 20px;
    padding: 5px;
}

.option:hover{
    cursor: pointer;
    animation: link 2s;
}

@keyframes link{
    from {color: white;}
    to { color: rgb(218, 0, 0);}
}

link{
    text-decoration: none;
}

.link{
    color: white;
}

.img{
    float: left;
    width: 170px;
    height: 150px;
    margin-top: -150px;
    margin-left: 400px;
}

.img2{
    width: 300px;
    height: 200px;

}
