body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Serif', serif;
}

#container{
    width: auto;
    margin-top: auto;
    margin-left: auto;
}

#logo{
    text-align: center;
    color: rgb(2, 110, 25);
    letter-spacing: 2px;
    font-size: 40px;
    text-decoration: overline;
    font-weight: bold;
}

#menu{
    background-color: rgb(133, 0, 0);
    margin-top: 1%;
    padding: 20px;
}

#content{
    font-family: 'Dancing Script', cursive;
     text-align: center;
     font-size: 50px;
}

.option{
    float: left;
    min-height: 20px;
    height: 25px;
    font-size: 23px;
    padding: 5px;
    margin-left:5%;
    text-align: center;
}

.option:hover{
    cursor: pointer;
    animation: link 2s;
}

@keyframes link{
    from {color: white;}
    to { color: rgb(218, 0, 0);}
}

link{
    text-decoration: none;
}

.link{
    color: white;
}